// Add your custom CSS here.
.top-bar {
  background: #000;
}
#header {
  background: #fff;
}
#user-button i, #cart-button i, .header__search-btn i, .header__toggler i, .menu__btn.btn.collapsed, .menu__btn--close {
  color: #000
}
#cart-count {
  background: #000;
}
.top-bar a, .top-bar svg, .footer address {
  color: #fff !important
}
.top-bar .container-fluid .row {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("/font-mobi.eot"); /* IE9*/
  src: url("/font-mobi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/font-mobi.woff2") format("woff2"), /* chrome、firefox */
  url("/font-mobi.woff") format("woff"), /* chrome、firefox */
  url("/font-mobi.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/font-mobi.svg#Gotham Rounded Medium") format("svg"); /* iOS 4.1- */
  font-display: swap;
}

body, h4, h3, h2, h1, h5, h6, li, ul, a, b, strong, em, span {
    font-family:"Gotham Rounded Medium" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.footer {
  background: #000;
  color: #fff;
}
.footer h2, .footer a, .footer__title, .footer__social, .footer__social .fa-facebook, .footer__social .fa-instagram {
  color: #fff;
}
.footer__social .fa-facebook, .footer__social .fa-instagram {
  font-size: var(--font-size-lg)
}
.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled {
  display: none;
}
.footer__links .fas.fa-angle-right{
display: none
}
.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#000;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #000;
    background: #000;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}
@media (min-width: 767px) {
  .header__nav--full div .header__submenu {
    margin-left: 0 !important;
  }
}
.footer__social i {
  color: #fff !important
}

@media(min-width: 990px) {
  .glide__slide.video video {
    height: 427px;
    width: 100%;
  }
  #video-play {
    position: absolute;
    top: 35px;
    left: 40px;
    color: #fff;
  }
  .gallery__item--video {
    opacity: 1;
  }
}

@media(max-width: 576px) {
  .gallery__item--video {
    visibility: visible !important;
    font-size: unset !important;
    margin-top: unset !important;
    position: absolute;
    left: 30%;
    top: 5px;
  }
}

@media(min-width: 990px) and (max-width: 1400px) {
  .header__submenu {
    max-height: 500px;
    overflow-y: scroll;
  }
}


.product-card {
&__colors {
  line-height: 0;
  margin-top: var(--spacer-1);
  justify-content: center;
  bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
  overflow-x: auto;
  @media (min-width: 1024px) {
    overflow-x: hidden;
  }
}
&__color-option {
  display: inline-block;
  border-radius: 50%;
  font-size: 0;
  border: 1px solid;
  width: 20px;
  flex: 0 0 20px;
  height: 20px;
  &--plus {
    border-color: #111;
    background: #111;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
}

&__pictures {
  aspect-ratio: 0.95;
  width: 100%;
  height: auto;
  .picture {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      height: 100%;
      max-height: none;
      width: auto;
    }
  }
}

&--small {
  .product-card__pictures {
    min-height: 250px
  }
}
}
.product-card__buy.fade {
opacity: 1;
}

.buy-together__discount {
text-align: left;
}

.buy-together__item__link {
width: 90%;
}

.buy-together__item__checkbox {
width: 10%;
}

.buy-together__list--new {
li {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
padding-left: 0;
}

.buy-together__item__thumbnail--new {
min-height: 60px;
min-width: 70px;
img {
  width: 60px;
  height: auto;
}
}

.buy-together__item__price--new {
min-width: 80px;
display: flex;
justify-content: center;
align-items: center;
}

.buy-together__item__checkbox {
display: flex;
justify-content: center;
align-items: center;
input {
  width: 30px;
  height: 30px;
}
}

.buy-together__item__name--new {
flex-grow: 1;
}
.buy-together__item__price--new .prices__value {
font-size: 15px
}
.product-card--out-of-stock-variation {
opacity: .5;
}

.product-card--small {
.prices__value, .prices__value + span {
  width: 100%;
}
.product-card__buy {
  width: 100%;
  text-align: center;
  button {
    width: 100%;
  }
  i {
    color: #fff;
  }
}
}

.buy-together__item__offer-stamp {
padding: 3px;
}

.shelfs-nav__title {
  font-weight: Bold;
  letter-spacing: -1px;
  font-size: 26px;
  margin: var(--spacer-4) auto;
  padding: 0 4rem;
  max-width: var(--content-max-width);
}

.shelfs-nav__tab {
  text-align: center;
}
.shelfs-nav__tabs li {
  min-width: unset !important;
}

.buy-together__item__offer-stamp {
  padding: 3px;
}

#topSlide  li,
#topSlide a{
  text-align:center;
}

/* .product-card__offer-stamp {
  position: inherit !important;
  color: rgb(255, 255, 255) !important;
  background: rgb(204, 12, 57) !important;
  border-radius: 2px;
  padding: 4px 6px;
  margin-right: 6px;
  b {
    color: #fff !important;
  }
}

.product-card__link {
  text-decoration: none !important;
}

.product-card__offer {
  margin-top: 10px !important;
}

.product-card__offer-text {
  color: rgb(204, 12, 57) !important;
}
 */
 .color-label {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  border-radius: 100%;
  display: inline-block;
  border: solid .4px #000
}

.search-engine__option {
  display: flex !important;
  margin: 3px;

  .custom-control-label {
    display: flex;
  }
  
  .custom-control-label span {
    margin-left: 3px;
    margin-right: 3px;
  }
}